[submodule "submodules/OpenHMD"]
	path = submodules/OpenHMD
	url = https://github.com/thaytan/OpenHMD.git
	branch = rift-kalman-filter
[submodule "submodules/godot_headers"]
	path = submodules/godot_headers
	url = https://github.com/godotengine/godot_headers
